$font-primary: 'Raleway', sans-serif;
$font-slider: 'Kaushan Script', cursive;

$color-light: #ffffff;
$color-dark-primary: #3f3e41;
$color-dark-secondary: #545357;
$color-dark-third: #ededed;
$color-orange: #fd5c08;
$color-opacity: rgba(255, 255, 255, 0.9);
